@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<img src="~/Images/about.jpg" />
<p>
    Maple Building Management App is a web-based application which facilitate the communications between the tenant and the property manager.
    Tenants and property manager often have issue communicating with each either due to matching up their schedule or other mix up.
    We aim to link tenants and property manager together by creating a communication notification that is convenience to both party.
    In case of a dispute, all past messages is kept in storage allowing users to review and analyze them.

    <br><br>As a subsidary of Centennial College, our mission is to make your life easier.
</p>
