@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>
    <strong>Availability:</strong><br />
    Monday to Friday: 7:00 am to 12:00 am ET<br />
    Saturday and Sunday: 9:00 am to 6:00 pm ET
</p>
 @*<img src="~/Images/houstonbanner.png" />*@
<p>
    <strong>Customer Representative</strong><br />
    Name: Earl Perez<br />
    Number: (416) 432-3344<br /><br />
    Name: Joyeeta Nandi<br />
    Number: (416) 342-2534<br /><br />
    Name: Michael Tran<br />
    Number: (416) 465-7474<br /><br />
    Name: Muhammad Shiblee<br />
    Number: (416) 463-2442<br /><br />
    Name: Sayda Rahman<br />
    Number: (416) 765-2354<br /><br />
    Name: Seung Won Bae<br />
    Number: (416) 867-2344
</p>

<address>
    <strong>Address</strong><br />
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
