@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
       <img src="~/Images/buildingimages.jpg" />
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Maple Building Management Application</h2>
        <p>
            Maple Bulding Management Application is your premier solution for managing tenants! This application is managed by a team of six people under the supervision of Professor Mehrdad Tirandazian.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>Are you a tenant or a property manager? Register with us! </p>
        <p><a class="btn btn-default"  onclick="location.href='@Url.Action("Register")'">Register Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign in</h2>
        <p>Already have an account? Sign in!</p>
        <p><a class="btn btn-default"  onclick="location.href='@Url.Action("Login")'">Login Here &raquo;</a></p>
    </div>
</div>
