@model Maple_Building_Management_App.Models.ComplaintModel

@{
    ViewBag.Title = "SuccessfulComplaint";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <br><br>
    <br><br>
    <br><br>
    <h2>Thank you, @Model.ComplaintType has been sent</h2>
    <p>
        Please wait until further notice.
    </p>
</body>
</html>