@{
    ViewBag.Title = "Success!";
}
<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <p>Password changed successfully! Please check your email for the latest password!</p>
</div>
<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>