@{
    ViewBag.Title = "Success!";
}
<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <p>Password changed successfully!</p>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>