body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.responsive {
    width: 100%;
    height: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#wrapper {
    display: flex;
}

#chatBox {
    flex: 0 0 65%;
}

#userList {
    flex: 1;
}

#discussion{
    padding: 5px 0px;
}

#discussion div{
    padding: 5px 10px;
}

ul li {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}